body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #28363D;
  
}

.App-link {
  color: #61dafb;
}

input[type=number] {
  font-size: calc(10px + 2vmin);
  width: 4em;
}

input[type=text] {
  border-radius: 10px;
  width: 50em;
}

button {
  display: inline-block;
  background:#D7772E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

textarea {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

.ContractInfo {
  font-size: 1.5vw;
  text-align: left;
  padding: 2vw;
}
